@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --primary : rgb(180, 178, 178);
    --dark : rgb(47, 46, 46);
    --light : rgb(169, 162, 162);
    --shadow : 1px 1px 1px 1px rgba(128, 126, 126, 0.821);
}

html{
    box-sizing: border-box;
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(204, 204, 204);
    margin: 30px 50px;
    line-height: 1.4;
    overflow-x: hidden;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    text-align: center;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    gap: 20px;
}
/* ############### navigation-bar ############## */
nav ul{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    list-style: none;
    /* box-shadow: var(--shadow); */
}

nav ul a{
    background: var(--primary);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.8rem;
    font-size: 1.2rem;
    color: var(--dark);
}

nav ul a:hover{
    background: var(--dark);
    color: var(--light);
}

/* #################### top-container ######### */

.wrapper #top-container{
   display: grid;
   gap: 20px;
   grid-template-areas: 
   'showcase showcase top-box1'
   'showcase showcase top-box2'; 
}

.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url("https://images.unsplash.com/photo-1491472253230-a044054ca35f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1184&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center center;
    color: white;
}

.showcase .btn {
    width: 30%;
}

.showcase .btn:hover{
    color: white;
}

.top-box1{
    grid-area: top-box1;
}

.top-box2{
    grid-area: top-box2;
}

.top-box{
    background: var(--primary);
    color: var(--dark);
    box-shadow: var(--shadow);
    text-align: center;
    display: grid;
    place-content: center center;
}

.top-box .btn:hover{
    color: white;
}


/* ############### products ########## */

#products .product img{
    display: inline;
    width: 400px;
    height: 300px;
    margin: auto;
    
}

#products{
    margin-top: 1rem;
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
}

.product{
    margin: 20px;
}

.product:hover{
    box-shadow: 1px 1px 1px 1px gray;
}


.product h3{
    text-align: center;
}

.product-offer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(120, 120, 120, 0.837), rgba(50, 50, 52, 0.837));
}

.offer-value, .you-pay{
    line-height: 0.5;
    color: white;
}

.you-pay{
    place-self: center end;
    margin-right: 20px;
}

.offer-value{
    margin-left: 20px;
}

.warranty, .Cash{
    display: grid;
    grid-template-columns: 100px 300px;
    
}

.warranty .fa-solid, .Cash .fa-solid, .warranty p, .Cash p{
    place-self: center start;
    
}

/* #################boxes############### */
#boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    place-items: center center;
    margin-top: -30px;
}

.box{
    padding: 50px 50px;
}

.box:hover{
    box-shadow: 1px 1px 5px 3px gray;
    background: var(--light);
   
}

h2{
    margin-top: 50px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1rem;
    font-size: 25px;
}

/* ################# Footer ############# */

footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
    place-content: center center;
    background-color: var(--dark);
    color: white;
    background: linear-gradient(90deg, rgba(120, 120, 120, 0.837), rgba(50, 50, 52, 0.837));
}

.s-m-links{
    place-self: center end ;
   
}

.s-m-links i{
    margin-right: 10px;

}

/* ##################### css media queries ############# */
 @media screen and (max-width:750px){
    
    .wrapper #top-container{
        display: grid;
        gap: 10px;
        grid-template-areas:
        'showcase showcase'
        'top-box1 top-box1'
        'top-box2 top-box2';
    }

    .showcase{
        grid-area: showcase;
        padding-left: 20px;
        padding-right: 20px;
    }

    .top-box1{
        grid-area: top-box1;
        padding-bottom: 10px;
    }

    .top-box2{
        grid-area: top-box2;
        padding-bottom: 10px;
    }

    #products .product img{
        display: inline;
        width: 400px;
        height: 300px;
        margin: auto;
        
    }
    

} 